apiVersion: v1
kind: Service
metadata:
  name: venom-genesis
  labels:
    app: venom
    component: genesis
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: LoadBalancer
  selector:
    app: venom
    component: genesis
  ports:
  - name: metrics
    port: 8000
    targetPort: 8000
    protocol: TCP
  sessionAffinity: None
